body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.header {
    background-color:#03223d;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #083055;
}



.searchContainer {
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
}

.searchIcon {
  font-size: 20px;
  margin-right: 5px;
  color: #0D3B66;
}
.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 100px; /* Adjust the value as needed */

}
.storeName {
  font-size: 20px;
  margin: 0;
}

.cartIcon {
  font-size: 24px;
  color: #fff;
}
.userIcon {
  font-size: 24px;
  color: #fff;
}

.navbarToggler {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 19px;
  width: 50px;
}

.navLink {
  position: relative;
  color: white;
  font-size: 20px;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::after {
  transform: scaleX(1);
}



.mover{
  position: sticky;
  top: 0px;
  height: 6rem;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

