
body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    
}
.header {
    background-color:#03223d;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #083055;
}



.searchContainer {
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
}

.searchIcon {
  font-size: 20px;
  margin-right: 5px;
  color: #0D3B66;
}
.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 100px;

}
.storeName {
  font-size: 20px;
  margin: 0;
}

.cartIcon {
  font-size: 24px;
  color: #fff;
}
.userIcon {
  font-size: 24px;
  color: #fff;
}

.navbarToggler {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 19px;
  width: 50px;
}

.navLink {
  position: relative;
  color: white;
  font-size: 20px;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::after {
  transform: scaleX(1);
}



.mover{
  position: sticky;
  top: 0px;
  height: 6rem;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.imgdiv
{
  background-color:#03223d;
  height: 500px;
}
.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.categoryCircle {
  border-radius: 50%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.categoryImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.categoryTitle {
  margin-top: 10px;
}

.categoriesContainer {
  margin: 0 auto;
  max-width: 1200px;
}
.ProductcategoriesContainer {
  margin: 0;
}
.categoriesRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryColumn {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .categoryColumn {
    flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  .categoryColumn {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .categoryColumn {
    flex-basis: 25%;
  }
}

@media (min-width: 1200px) {
  .categoryColumn {
    flex-basis: 25%;
  }
}
.testimonialSection {
  padding: 60px 0px;
  width: 100%;
  height: auto;
}


.sectionTitle {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.carousel-root {
  max-width:1500px;
  margin: 0 auto;
}

.carousel .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color:white;
}

.testimonialImage {
  width: 150px; /* Adjust the size as needed */
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.testimonialText {
  text-align: center;
}

.testimonialText h4 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.testimonialText p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}


.testimonialItem.selected {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translate(-2px, -8px);
}

.testimonialItem.slideIn {
  opacity: 0;
  transform: translateY(20px);
  animation: testimonialSlideIn 0.5s ease-in-out forwards;
}
@keyframes testimonialAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes testimonialSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.navIcon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.navIcon .icon {
  color: #000;
  font-size: 20px;
}

.searchIconCard{
  color: white;
  background-color: #03223d;
}
.searchIcon .icon {
  
  font-size: 10px;
}
.overlay {
  z-index: 2;
}
.custom-select-container .divider {
  border-right: 2px solid #C9D0D6;
  height: 45px;
  margin: 0 10px;
}
.custom-select-container button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;

  cursor: pointer;
  outline: none;
}

.custom-select {
  width: 150px; 
  background-color: transparent;
  border: none; 
  font-family: inherit; 
  font-size: inherit; 
  outline: none; 
}
.grid-button.selected,
.list-button.selected {
  color: black;
}



/* Rotate enter animation */
@keyframes rotate-enter {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Rotate exit animation */
@keyframes rotate-exit {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

/* Apply animation classes */
.animation-fade-in {
  animation: fade-in 0.3s ease-in;
}

.animation-rotate-enter {
  animation: rotate-enter 0.3s ease-in;
}

.animation-rotate-exit {
  animation: rotate-exit 0.3s ease-in;
}
/* myfile.module.css */

/* myfile.module.css */

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animation-slide-in {
  animation: slideIn 0.3s forwards;
}

.animation-slide-out {
  animation: slideOut 0.3s forwards;
}
.activeLink a {
  font-weight: bold;
}
